<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>SimpleMDE demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/simplemde/dist/simplemde.min.css">

    <link rel="stylesheet" href="demo.css">
</head>
<body ng-controller="DemoController">
<div class="container">
    <div class="form-group">
        <textarea simplemde="options" ng-model="content"></textarea>
    </div>

    <div class="form-group">
        <textarea rows="3" class="form-control" ng-model="content"></textarea>
    </div>
</div>

<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/simplemde/dist/simplemde.min.js"></script>
<script src="../angular-simplemde.js"></script>

<script>
    angular.module('demo', ['ngSimpleMDE'])
        .controller('DemoController', ['$scope', function ($scope) {
            $scope.content = '';
            $scope.options = {
                placeholder: "Type here..."
            };
        }]);
</script>
</body>
</html>